[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Comment=Python IDE
Exec={{ansible_user_dir}}/Software/pycharm/bin/pycharm.sh
Icon={{ansible_user_dir}}/Software/pycharm/bin/pycharm.png
Path=
Terminal=false
StartupNotify=true
