[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Edu
Comment=Python Training
Exec={{ansible_user_dir}}/Software/pycharm-edu/bin/pycharm.sh
Icon={{ansible_user_dir}}/Software/pycharm-edu/bin/pycharm.png
Path=
Terminal=false
StartupNotify=true
